<app-ui>
  <!-- grâce au ng-content du ui.component.html on peut ajouter le header -->
  <!-- la classe peut être passée dans le selector du ng -->
  <!--<button class="tr-btn btn btn-primary">open / close</button>-->
  <app-icon-close class="tr-btn-close"></app-icon-close>
  <app-icon-nav class="tr-btn-open"></app-icon-nav>
  <app-header class="tr-header"></app-header>
  <app-nav class="tr-nav"></app-nav>
  <app-footer class="tr-footer"></app-footer>
</app-ui>
<!-- si on change de component (ex ui2 ) on changera uniquement <app-ui2> -->
