<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ui-essai</title>
</head>

<body>

  <div class="card d-flex flex-column">
    <header class="card-header text-center">
      header
    </header>

    <div class="body-nav-main d-flex flex-grow-1">
      <nav class="bg-light text-start">
        nav
      </nav>

      <main class="card-body">
        content
      </main>
    </div>

    <footer class="card-footer text-center">footer</footer>
  </div>
</body>

</html>
