<header class="fixed-top">
  <!-- pour cibler ou rajouter le header-->
  <!-- sans selector c'est une transclusion simple, sinon transclusion multiple-->
  <!-- selectionner la classe permet de se passer du prefix app du anguler.json -->
  <span (click)="toggle()">
    <!-- span pour utiliser le click-->
    <!-- ng-content pour faire un bouton réutilisable-->
    <ng-content select=".tr-btn"></ng-content>
  </span>
  <ng-content select=".tr-header"></ng-content>
</header>
<main [ngClass]="{'close-aside': close}">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <ng-content select=".tr-nav"></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
      content
    </div>
    <footer>
      <ng-content select=".tr-footer"></ng-content>
    </footer>
  </div>
</main>
