<header class="fixed-top">
  <!-- pour cibler ou rajouter le header-->
  <!-- sans selector c'est une transclusion simple, sinon transclusion multiple-->
  <!-- selectionner la classe permet de se passer du prefix app du anguler.json -->
  <span (click)="toggle()">
    <!-- span pour utiliser le click-->
    <!-- ng-content pour faire un bouton réutilisable-->

    <!-- pour choisir les boutons open ou close-->

    <!-- <ng-content *ngIf="!close" select=".tr-btn-close"></ng-content>
    <ng-content *ngIf="close" select=".tr-btn-open"></ng-content> -->

    <!-- autres syntaxes -->
    <!-- ngIf else-->
    <!-- <ng-content *ngIf="close; else elseBlock" select=".tr-btn-open"></ng-content>
    <ng-template #elseBlock>
      <ng-content select=".tr-btn-close"></ng-content>
    </ng-template> -->

    <!-- ngIf then else -->
    <!-- la balise sert juste à poser le then else donc ng-container au lieu de div: pas rendu dans le DOM-->
    <ng-container *ngIf="close; then thenBlock else elseBlock" select=".tr-btn-open"></ng-container>
    <ng-template #thenBlock>
      <ng-content select=".tr-btn-open"></ng-content>
    </ng-template>
    <ng-template #elseBlock>
      <ng-content select=".tr-btn-close"></ng-content>
    </ng-template>
  </span>

  <ng-content select=".tr-header"></ng-content>
</header>
<main [ngClass]="{'close-aside': close}">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <ng-content select=".tr-nav"></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
      <ng-content select=".tr-content"></ng-content>
    </div>
    <footer>
      <ng-content select=".tr-footer"></ng-content>
    </footer>
  </div>
</main>
